* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  background-color: hsl(234, 29%, 20%);
  display: grid;
  place-items: center;
}
.container {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
  padding: 2rem;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    padding: 0 0 2rem 0;
  }
  .firstDiv {
    padding: 1rem;
  }
}
.firstDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 360px;
}
.firstDiv h1 {
  margin-bottom: 1rem;
}
.p1 {
  margin-bottom: 1rem;
}
span {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 10px;
}
form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
label {
  font-size: 12px;
  margin-bottom: 10px;
}
input {
  height: 40px;
  border-radius: 5px;
}
button {
  color: hsl(0, 0%, 100%);
  margin-top: 1rem;
  font-size: 16px;
  background-color: hsl(4, 100%, 67%);
  /* padding: 1rem 1rem; */
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: hsl(235, 18%, 26%);
}
.illustrateImg {
  width: 100%;
}
